*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://images.unsplash.com/photo-1517486430290-35657bdcef51?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.menu-bar{
    text-align: center;
    background-color: rgb(134, 122, 122);
    opacity: 0.8;
}

.menu-bar ul{
    display: inline-flex;
    list-style-type: none;
}

.menu-bar ul li{
    width: 130px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: rgb(17, 2, 2);
    font-size: 20px;
    font-weight: 300;
}

.active, .menu-bar ul li:hover{
    background-color: rgb(214, 230, 235);
;
}

.sub-menu{
    display: none;
}

.menu-bar ul li:hover .sub-menu{
    display: block;
    position: absolute;
    margin-left: -15px;
    margin-top: 15px;
    background-color: rgb(117, 149, 190);
}

.menu-bar ul li:hover .sub-menu ul{
    display: block;
    margin: 8px;
}

.menu-bar ul li:hover .sub-menu ul li{
    width:120px;
    padding: 15px;
    background: transparent;
    border-bottom: 1px dotted white;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu ul li a:hover{
    color: rgb(249, 248, 252);
    font-weight: 100;
}

.sub-menu-1{
    display: none;
}

.sub-menu ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    margin-left:110px;
    margin-top: -30px;
    background-color: lightblue 
}

.sub-menu ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 8px;
}

.sub-menu ul li:hover .sub-menu-1 ul li{
    width: 100px;
    padding: 15px;
    text-align:left;
}

#text{
    width: 30%;
    height: 10vh;
    position: relative;
    background-color: blanchedalmond;
    display: none;
     margin-top: 200px;
     margin-left: 600px;
     text-align: center;
     border: 1px solid black;
     animation-name: bold;
     animation-duration: 4s;
     animation-fill-mode: forwards;
}

@keyframes bold{
    0%{top: -300px}
    100%{top: 140px;}
}

#form{
    margin-left: 80px;
    margin-top: 100px;
}

#form input[type = "submit"] {
    position: relative;
    padding: 10px 10px;
    left: 150px;
    top: 185px;
    background-color: lime;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.radio{
    display: flex;
    flex-direction: column;
}

#message{
    display: none;
}

